<!DOCTYPE html>
<html ng-app="app" ng-controller="appCtrl">

<head>
    <title>Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../build/js/angular.js"></script>
</head>

<body>
    <div class="container">
        <!-- Author -->
        <section class="author">
            <div class="author__avatar">
                <img src="../build/images/avatar.png" alt="">
            </div>
            <h1 class="h1 author__name">Вероника Ростова</h1>
            <p class="silver font-sm">Менеджер по продажам</p>
            <div class="author__slogan">
                Подберу для вас самые лучшие предложения. Мои услуги абсолютно бесплатны
            </div>
        </section>
        <!-- Services -->
        <section class="services">
            <p class="text-right pad-right">Услуг</p>
            <div class="progress-outer">
                <div class="progress" ng-repeat="services in services track by $index">
                    <div class="progress__bar {{services.classColor}}" ng-style="services.progressWidth">{{services.name}}</div>
                    <div class="progress__count"><b>{{services.count}}</b></div>
                </div>
            </div>
            <div class="float-right pad-right font-lg"><b>{{servicesCount}}</b></div>
            <p class="font-lg"><b>Всего</b></p>
        </section>
        <!-- Settings Form -->
        <form name="formSettings" class="form mg-bottom">
            <input type="radio" id="last" name="comments" class="hidden" checked>
            <label for="last" class="form__radiobox">Последние отзывы</label>
            <input type="radio" id="all" name="comments" class="hidden">
            <label for="all" class="form__radiobox">Все отзывы</label>
            <div class="float-right aligner">
                <img src="../build/images/heart.png" alt="like"><span class="form__stats">113</span>
                <img src="../build/images/comment.png" alt="comment"><span class="form__stats">{{list.length}}</span>
            </div>
        </form>
        <!-- Comments -->
        <section>
            <div class="feedback" ng-repeat="feedback in list track by $index">
                <p class="feedback__author"><b>{{feedback.author}}</b></p>
                <p class="feedback__date">{{ feedback.date | date: "dd MMMM yyyy"}}</p>
                <p class="feedback__text">{{feedback.message}}</p>
            </div>
        </section>
        <!-- Message Form -->
        <form class="form form_padded form_bg" name="formMessage" ng-submit="msgSend()">
            <p><b>Ваше имя:</b></p>
            <input type="text" ng-model="author" class="form__input" required="required">
            <textarea name="message" class="form__message" ng-model="message" ng-enter-directive="msgSend()" required="required"></textarea>
            <button type="submit" class="form__submit" ng-disabled="formMessage.$invalid" ng-class="{'disabled' : formMessage.$invalid}">Написать консультанту</button>
        </form>
    </div>
    <link rel="stylesheet" href="../build/css/main.css">
    <script type="text/javascript" src="../build/js/app.js"></script>
</body>

</html>
