body {
    margin: 0;
    font-size: $font-size;
}

body,
html {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    outline: none;
}

a {
    color: $color-link;
}
textarea {
	overflow: auto; // remove scrollbar in IE
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.font-lg {
    font-size: $font-size-lg;
}

.silver {
    color: $color-silver;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.pad-right {
    padding-right: 32px;
}

.mg-bottom {
    margin-bottom: 18px;
}

.hidden {
    display: none;
}

.aligner {
    display: flex;
    align-items: center;
}
