$font-family: "Arial";
$font-size: 14px;
$font-size-sm: 12px;
$font-size-lg: 16px;
h1,
.h1,
p {
    margin-top: 0;
    margin-bottom: 9px;
}

h1,
.h1 {
    font-size: $font-size-lg;
}

.font-sm {
    font-size: $font-size-sm;
}

.font-lg {
    font-size: $font-size-lg;
}
