$font-family: "Arial";
$font-size: 14px;
$font-size-sm: 12px;
$font-size-lg: 16px;

$color-silver: #808080;
$color-yellow: #fffbc8;
$color-light-blue: #f2fbff;
$color-light-grey: #f2f2f2;
$color-gold: #fdd639;
$color-link: #1f71ac;
$border-color: #cecabf;

$border : 1px solid $border-color;
$border-radius: 4px;

$logo-width: 120px;
$logo-height: 120px;